
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Master.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="header" class="header">
        <input id="getAllItems" class="headerButton" type="button" value="Продукты" />
        <input id="addItem" class="headerButton" type="button" value="Добавить продукт" />
        <input id="removeItem" class="headerButton" type="button" value="Удалить продукт" />
    </div>
    <div id="content" class="content">

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Main.js"></script>
</body>
</html>
